/* 
	TagBox table styles
	written by TagBox http://www.tagbox.de
*/
table.interior {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #fff;
  background: #394757;
 }




caption.interior {
  text-align: center;
  font: bold 18px arial, helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #03476F;
  text-transform: uppercase;
  }
td.interior, th.interior {
  border: 1px dotted #03476F;
  padding: .4em;

  }

thead.interior th.interior, tfoot th.interior {
  font: bold 11px verdana, arial, helvetica, sans-serif;
  border: 1px solid #000;
  text-align: left;
  background: #333;
  color: #FFFFFF;
  padding-top:3px;
  }
tbody.interior td a {
  background: transparent;
  text-decoration: none;
  color: #ccc;
  }
tbody td a:hover {
  background: #C2F64D;
  color: #363636;
  }
tbody th.interior a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #363636;
  }
tbody th a:hover {
  background: transparent;
  color: #363636;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }
tfoot td {
  border: 1px solid #000;
  background: #333;
  padding-top:3px;
  color: #FFFFFF;
  }
.odd {
  background: #AEE239;
  }
tbody tr.interior:hover {
  background: #fff;
  border: 1px solid #03476F;
  color: #333;
  }
 tbody tr.interior{
  color: #ccc;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #fff;
  color: #FFFFFF;
  }
